<!DOCTYPE HTML>
<html>
	<head>
		<title>Libreria</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/static/assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<div id="header">
				<span class="logo icon fa-paper-plane"></span>
				<h1>Libreria</h1>
			</div>

		<!-- Blog posts -->
		{% block content %}{% endblock %}

		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/browser.min.js"></script>
			<script src="/static/assets/js/breakpoints.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>

	</body>
</html>