
{% extends "base.html" %}
{% block title %}Biblioteca{% endblock %}
{% block content %}
<div class="posts">
    <h1 class="content-subhead">Biblioteca</h1>

		<!-- Main -->
			<div id="main">

				<!-- One -->
					<section id="one">
						<header class="major">
							<h1>Jose Antonio Canalo Gonzalez</h1>
       						<h2>Biblioteca</h2>
						</header>
						<ul>
							{% for element in libros %}
								{% if element.isbn %}
									<li><a href="/libro/{{element.isbn}}">{{element.title}}</a></li>
								{% else %}
									<li><a href="/">{{element.title}} (No tiene ISBN)</a></li>
								{% endif %}
								<br>
							{% endfor %}
						</ul>
					</section>
			</div>
{% endblock %}